first/m04/xml/exercici_3_dtd.dtd

<!ELEMENT biblioteca (libro*)>
<!ELEMENT libro (autor+, titulo, isbn?, estado)>
<!ATTLIST libro cod ID #REQUIRED>
<!ELEMENT autor (nombre, apellido+)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT estado EMPTY>
<!ATTLIST estado prestado (Si|No) "No">

